/* Общие стили */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: monospace;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: relative;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Кнопки */
button {
  padding: 12px 24px;
  font-size: 16px;
  color: #fff;
  background-color: black;
  border: 2px solid #00d9ff;
  border-radius: 50px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 
    0 0 10px #00d9ff, 
    0 0 20px #015a42, 
    0 0 30px #016344;
}

button:hover {
  background-color: #00d9ff;
  color: black;
  transform: translateY(-3px);
}

/* Стартовая кнопка */
#start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Центрируем кнопку по горизонтали и вертикали */
}

/* Прячем кнопку рестарт по умолчанию */
.restart {
  display: none;
}

.game-area {
  display: flex;
  justify-content: center;
  box-shadow: 
    0 0 10px #fff, 
    0 0 20px #00d9ff, 
    0 0 30px #015a42, 
    0 0 40px #016344;
}

canvas {
  width: 320px;
  height: 640px;
  transition: filter 0.3s ease-in-out;
}
html, body {
    overflow: hidden;
}


.blur {
  filter: blur(10px);
}

.score-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #989797;
}

.score-item {
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
